<section class="paginate">
  <div class="paginate__section">
    <select class="form-control" (change)="onPageOptionSelect($event)">
      <option
        [value]="sOption"
        *ngFor="let sOption of pageOptions"
        [selected]="sOption === selectedPageOption"
      >
        {{ sOption }}
      </option>
    </select>
    <p>Viewing From {{ viewFrom }} - {{ viewTo }} of {{ totalItems }}</p>
  </div>
  <div class="paginate__pagination">
    <div
      [ngClass]="{ disabled: selectedPage === 1 }"
      (click)="onNextPrevIcon(selectedPage - 1)"
      style="margin-right: 12px"
    >
      <i class="fas fa-chevron-left"></i>
    </div>
    <div
      *ngFor="let f of pagination.first"
      (click)="onSelect(f)"
      [ngClass]="selectedClass(f)"
    >
      {{ f }}
    </div>

    <ng-container *ngIf="pagination.middle.length > 0">
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <div
        *ngFor="let m of pagination.middle"
        (click)="onSelect(m)"
        [ngClass]="selectedClass(m)"
      >
        {{ m }}
      </div>
    </ng-container>

    <ng-container *ngIf="pagination.last.length > 0">
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <div
        *ngFor="let l of pagination.last"
        (click)="onSelect(l)"
        [ngClass]="selectedClass(l)"
      >
        {{ l }}
      </div>
    </ng-container>
    <div
      [ngClass]="{ disabled: selectedPage === totalPages }"
      (click)="onNextPrevIcon(selectedPage + 1)"
      style="margin-left: 12px"
    >
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</section>
