:host {
  display: block;
  position: relative;
}

:host::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #292929;
  left: 50%;
  bottom: -3px;
  transform: rotate(45deg);
}

div {
  background-color: #292929;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.custom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 250px;
  justify-content: space-around;
}
