footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--bg--primary);
  color: #fff;
  padding: 1rem;
}

footer p {
  margin-bottom: 0;
}

footer select {
  max-width: 120px;
}
