<div class="container">
  <div class="row" *ngIf="loading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="row" *ngIf="!(loading$ | async)">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="form-group">
          <label for="email">Email *</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            ngModel
            email
            #email="ngModel"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password *</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            ngModel
            #pwd="ngModel"
            required
            minlength="6"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            <ng-template [ngIf]="isSignUp$ | async"> Sign Up </ng-template>
            <ng-template [ngIf]="!(isSignUp$ | async)">Sign In</ng-template>
          </button>
          |
          <button class="btn btn-danger" type="button" (click)="f.reset()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
