<div class="main container">
  <section class="sectionA">
    <h3 class="title">{{ titleA }}</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nobis eum
      quasi illum asperiores voluptates praesentium dolore blanditiis delectus
      facilis?
    </p>
    <button class="btn btn-primary">{{ btnA }}</button>
  </section>
  <section class="sectionB">
    <h3 class="title">{{ titleB }}</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius delectus
      eos, omnis nesciunt odio est.
    </p>
    <button class="btn btn-block btn-secondary">{{ btnB }}</button>
  </section>
</div>
