<ul class="list-group">
  <li class="list-group-item active list-header">
    <div><span>Post Id: {{postData.id}}</span></div>
    <div>
      <span class="btn btn-warning" [routerLink]="['/edit-post']"
            [queryParams]="{postId: postData.id}"
            fragment="loading">Edit</span>
      <span class="btn btn-danger" style="margin-left: 20px" (click)="onDeletePost(postData.id)">Delete</span>
    </div>
  </li>
  <li class="list-group-item"> Post: {{postData.post}} </li>
  <li class="list-group-item"> Author: {{postData.author}} </li>
</ul>
