<section class="table">
  <h3 *ngIf="loading">Loading...</h3>
  <div class="table__paginate" *ngIf="!loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>TRIPS</th>
          <th>AIRLINE NAME</th>
          <th>AIRLINE COUNTRY</th>
          <th>ESTABLISHED</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todoData; let i = index">
          <td>{{ getIndex(i) }}</td>
          <td>{{ todo.passName }}</td>
          <td>{{ todo.passTrips }}</td>
          <td>{{ todo.airlineName }}</td>
          <td>{{ todo.airlineCtry }}</td>
          <td>{{ todo.established }}</td>
          <!-- <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="onDelete(todo.id)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
    <app-paginate
      [totalItems]="totalPages"
      [selectedPage]="selectedPage"
      [selectedPageOption]="selectedPerPage"
      (setPaginate)="pageEvent($event)"
      [pageOptions]="[10, 30, 50, 100]"
    ></app-paginate>
  </div>
</section>
