<section class="table">
  <div class="table__paginate">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">TRIPS</th>
          <th scope="col">AIRLINE NAME</th>
          <th scope="col">AIRLINE COUNTRY</th>
          <th scope="col">ESTABLISHED</th>
        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr *ngFor="let todo of todoData; let i = index">
          <th scope="row">{{ getIndex(i) }}</th>
          <td>{{ todo.passName }}</td>
          <td>{{ todo.passTrips }}</td>
          <td>{{ todo.airlineName }}</td>
          <td>{{ todo.airlineCtry }}</td>
          <td>{{ todo.established }}</td>
        </tr>
      </tbody>
    </table>
    <app-paginate
      *ngIf="!loading"
      [totalItems]="totalPages"
      [selectedPage]="selectedPage"
      [selectedPageOption]="selectedPerPage"
      (setPaginate)="pageEvent($event)"
      [pageOptions]="[10, 30, 50, 100]"
    ></app-paginate>
  </div>
</section>
