.servers-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.server {
  width: 340px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 3px 3px 3px #eee;
  margin-top: 30px;
}

.server:hover {
  transform: scale(1.1, 1.1);
}

.server h1 {
  padding: 5px;
  background-color: #eee;
  margin: 0;
}

.server-status {
  height: 70px;
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.server-status.Online {
  background-color: palegreen;
}

.server-status.Offline {
  background-color: salmon;
}

.server-status .status-btn {
  background-color: white;
  margin: 0 10px;
}

.server-status .status-btn:hover {
  color: #007bff;
}
