.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 3px 2px #eee;
    padding: 10px;
    margin-bottom: 30px;
}

.main-header--item {
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
}

.main-header--item:hover {
    background-color: #eee;
}

.main-header--item.active {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px #ccc;
}