<div class="container">
  <div class="row">
    <h1>{{ formName }} Form</h1>
  </div>
  <div class="row">
    <button class="btn btn-primary"
            (click)="isTemplate = true; formName = 'Template-Driven'">Template</button>
    <button class="btn btn-primary"
            (click)="isTemplate = false; formName = 'Reactive'"
            style="margin-left: 20px">Reactive</button>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-lg-8 col-lg-offset-2">
      <app-template-driven *ngIf="isTemplate"></app-template-driven>
      <app-reactive *ngIf="!isTemplate"></app-reactive>
    </div>
  </div>
</div>
