button {
  padding: 16px 8px;
  background-color: slateblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid blue;
  outline: none;
  margin: 0 10px;
}

li {
  margin: 10px;
  padding: 8px;
}

.odd {
  color: red;
}

.even {
  color: orangered;
}

.Even {
  border: 1px solid green;
  background-color: palegreen;
  color: white;
}

.Odd {
  border: 1px solid red;
  background-color: salmon;
  color: white;
}
