/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
  --bg--primary: #333;
  --text--primary: #333;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: var(--text--primary);
}
